---
layout: default
---

<div class="catalogue">
  <a class="catalogue-hits" href="https://hits.sh/beomdo-park.github.io/"
    ><img
      alt="Hits"
      src="https://hits.sh/beomdo-park.github.io.svg?view=today-total&label=today%2Ftotal&color=f8f8f2&labelColor=44475a"
  /></a>
  {% for post in site.posts %} {% if post.sticky %} {% include
  catalogue_item.html sticky='true' %} {% endif %} {% endfor %} {% for post in
  paginator.posts %} {% include catalogue_item.html %} {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
  <a
    href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
    class="left arrow"
    >&#8592;</a
  >
  {% endif %} {% if paginator.next_page %}
  <a
    href="{{ paginator.next_page_path | prepend: site.baseurl }}"
    class="right arrow"
    >&#8594;</a
  >
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
